.login{
    height: 100vh;
    background-image: linear-gradient(to right,rgb(0, 38, 255),white);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vmax;
    box-sizing: border-box;
}

.loginForm{
    background-color: white;
    height: 90%;
    border-radius: 2vw;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm input{
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    width: 90%;
    border-radius: 1vw;
    border: 1px solid #f5deb3;
    margin: 2vmax;
    font: 100 1.1rem "Roboto",sans-serif;
    outline: none;
    font-weight:400;
}

.loginForm a{
    align-self: flex-end;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.473);
    margin: 1vmax;
}
.loginForm a:hover{
    text-decoration:underline;
    color: rgb(6, 195, 253);
}

@media screen and (max-width:600px) {
    .loginForm{
        width: 80%;
    }

    .loginForm input{
        padding: 4vw 8vw;
        margin: 2vmax;
        margin: 4vw;
    }

    .loginForm a{
        align-self: center;
    }
}